
.bg-no-overlay {
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 500px;
    
    width: 100vw;
    
}

#paddingcontainer{
    padding: 5%;
    padding-top: 3%;
}



.adult-paediatric-b {
    color: #FFFFFF;
    font-family: Titillium;
    font-size: 30px;
    letter-spacing: 1.28px;
    line-height: 40px;
    width: 622px;
    text-align: left;
  }

  .haematology-oncolo {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 25px;
    letter-spacing: 3.59px;
    line-height: 34px;
    width: 599px;
    text-align: left;
  }

.title1{
	font-size:60px;
	line-height:65px;
	
	color: white;
	 font-family: 'Oxygen';
	 font-weight:bold;
}

.title2{
	font-size:25px;
	line-height:40px;
	
	color: white;
	 font-family: 'Oxygen';
	 font-weight:bold;
}

.title3{
	font-size:15px;
	line-height:20px;
	
	color: white;
	 font-family: 'Oxygen';
	 font-weight:bold;
}





.title4{
    color: #FFFFFF;
    font-family: Titillium;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 40px;
    width: 622px;
    text-align: left;
  }

.title5{
    font-size:25px;
	line-height:40px;
	
	color: white;
	 font-family: 'Oxygen';
	
}


#cardone{
    height: auto;
    padding: 15px;
    color: black;
    
}

.cardtwo{
    height: auto;
    color:#fff;
    background: blue;
    padding:10px;
}



.shutterstock-237963190 {
    width: 422px;
    height: 422px;
  }

  .rectangle {
    background-image: radial-gradient( #2EC4B8, #6078EA);
    border-radius: 4px;
    width: 586px;
    height: 80px;
    padding:10px;
    overflow: hidden;
  }

  .rectangledoc{
    background-color: #F9F9FF;
    border-radius: 4px;
    width: 539px;
    height: 1000px;
  }
  .replacement-of-disea {
    color: #000000;
    font-family: StagSans;
    font-size: 17px;
    line-height: 20px;
    width: 532px;
    text-align: left;
    padding-top:35px;
    padding-bottom: 35px;
  }

  .medicines-and-in-cer {
    color: #000000;
    font-family: StagSans;
    font-size: 17px;
    line-height: 20px;
    width: 623px;
    text-align: left;
    padding-top:25px;
    padding-bottom: 25px;
  }

  .in-autologous-bone-m {
    color: #000000;
    font-family: StagSans;
    font-size: 17px;
    line-height: 20px;
    width: 605px;
    text-align: left;
    padding-top:25px;
    padding-bottom: 25px;
  }


  #sectionsecond{
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .doctors {
    color: #22B78E;
    font-family: StagSans;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
    font-weight: bold;
}

.line-3-copy-6 {
    border: 1px solid #ECECFF;
    width: 415px;
    height: 2px;
  }

  .pediatric-bmt {
    color: #22B78E;
    font-family: StagSans;
    font-size: 24px;
    letter-spacing: 0.99px;
    line-height: 44px;
    text-align: center;
  }
  .dr-vijay-agarwal-copy {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 22px;
    letter-spacing: 1.76px;
    line-height: 26px;
    text-align: center;

  }
  .md-mrcp-ph-d-cct-le-copy {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 15px;
    letter-spacing: 1.2px;
    
    text-align: center;
  }
  .line-5-copy {
    border: 1px solid #22B78E;
    width: 37px;
    height: 1px;
    margin:10px auto;
  }
#paddingcard{
    padding-left: 10%;
}

.dr-vijay-agarwal-is-copy-4 {
  color: #000000;
  font-family: StagSans;
  font-size: 15px;
  line-height: 20px;
 
  text-align: center;
}

.form-group{
margin-bottom: 0rem;
}

#submitbtn{
    padding-top: 10px;
}


.rectanglefooter{
    background-color: #272727;
    width: 100vw;
    height: 256px;
  }

  .line-4 {
    border: 1px solid rgba(255, 255, 255, 0.21);
    opacity: 0.3701869419642857;
    width: 1110px;
    height: 2px;
  }

  .aster-cmi-all-right {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 14px;
    letter-spacing: 1.12px;
    line-height: 17px;
    text-align: center;
    padding:10px;
  }



  .center {
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid transparent;
    text-align: center;
    padding:80px 0;
    color: #fff;
  }

  #footerpadding{
    padding:5%
  }

  #icons{
      padding:10px;
  }

  .what-are-the-types-o {
    color: #22B78E;
    font-family: StagSans;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
  }

  .autologous-bone-marr {
    color: #000000;
    font-family: StagSans;
    font-size: 14px;
    line-height: 30px;
    width: 1068px;
    text-align: left;
  }



   .custom-list {
    list-style: none;
    padding-left: 0;
}
.custom-list li {
    position: relative;
    padding-left: 30px;
}
.custom-list li:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
   background-image: url('images/hospital.png'); 
    background-size: cover;
    background-position: center;
    left: 0;
    top: 20%;
    transform: translateY(-8%);
}  








.mainconatinersecclass {
  list-style: none;
  padding-left: 0;
}
.mainconatinersecclass li {
  position: relative;
  padding-left: 30px;
}
.mainconatinersecclass li:before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
 background-image: url(images/double-tick-indicator.png);
  
  background-size: cover;
  background-position: center;
  left: 0;
  top: 20%;
  transform: translateY(-8%);
}  















  .one{
      list-style-image: url(images/hospital.png);
  }


  .book-an-appoinment {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17.14px;
    line-height: 21px;
    text-align: left;
    margin: auto;
  }

  .rectangleappointment {
    background-color: #004498;
    border-radius: 3.81px;
    width: 221px;
    height: 54px;
    text-align: center;
  }

  .rectangleappointment:hover {
    color: #fff;
    background-color: #004498;
    border-color: #004498;
}


.buttoncolor:hover {
  color: #fff;
  background-color: #DD5A6A;
  border-color: #DD5A6A!important;
}

.buttoncolor.focus, .buttoncolor:focus {
  background-color: #DD5A6A;
}

.buttoncolor:not(:disabled):not(.disabled).active:focus, .buttoncolor:not(:disabled):not(.disabled):active:focus, .show>.buttoncolor.dropdown-toggle:focus {
  box-shadow: none;
  background-color: #DD5A6A;
  

}


  

  .ftstyl{
    position: absolute;
    top:31%;
    right:2.5%
  }
  @media (min-width:1281px){

  
  .styldiv{
    padding:20px 0;
  }
  }
  .the-warning-signs-of {
    color: #22B78E;
    font-family: StagSans;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
  }


  .rectanglecard {
    background-color: #FFFFFF;
    border: 1px solid #E5EAFF;
    border-radius: 4px;
    box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
    width: 255px;
    height: 170px;
    padding:20px 20px;
  }

  .topheight{
      height: 50px;
  }
  .paddingcard{
      padding:10px;
  }

  .logopadding{
      padding-bottom: 80px;
  }

  .testimonials {
    color: #22B78E;
    font-family: StagSans;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
  }

  .it-is-a-long-establi {
    color: #000000;
    font-family: StagSans;
    font-size: 15px;
    line-height: 21px;
    width: 609px;
    text-align: left;
  }

  *{
      overflow-x:hidden;
  }


  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      line-height: normal;
  }

  .form-control {
      line-height: normal;
  }



  

  .border {
    margin: 10px;
    padding: 15px;
    border: 1px solid;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
    width: 517px;
    height: 220px!important;
}
 
.pad {
    padding: 15px;
}

#outerdiv{
  margin: 15px;
}

#docname{
  
    color: #000000;
    font-family: StagSans;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
  
}

#docname2{
  color: #000000;
  font-family: StagSans;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
}

.imgstyl{
  margin-right: 12px;
  margin-bottom: 12px;
}

#secondouter{
  margin: 15px;
 
}
.newclassimg{
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(images/Bitmap.png);
}

#paddingtop{
  padding-top: 20px;
}


.nm::after{
  content: "\a";
  white-space: pre;
  text-align: center;
}

.docimg{
  height: 300px;
  background-image: url(images/Bitmap.png);
  
}

@media (max-width: 768px) {

  .autologous-bone-marr {
width: 100%;
  }
	.custom-list li:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    background-image: url(images/hospital.png);
    background-size: cover;
    background-position: center;
    left: 0;
    top: 10%;
    transform: translateY(-8%);
}
  .form-control {
    display: block;
    width: 100%;
  }
  .it-is-a-long-establi {
    width: 100%;
  }
  
  
  
  .rectangledoc{
    background-color: #F9F9FF;
    border-radius: 4px;
    width: 100%;
    height: auto;
  }
  #collpasebutton .btn {
    white-space: normal!important;
    
    text-align: left!important;
  }
  .rectanglecard {
    width: 95vw;
    height: 165px;
}
#padbtm{
  padding-bottom: 20px;
}
.rectangle {
width: 100%;
}
.replacement-of-disea{
width: 100%;
}

.medicines-and-in-cer{
  width: 100%;
}

.in-autologous-bone-m{
  width: 100%;
}
  #paddingcard{
    padding:inherit;
  }

  .shutterstock-237963190 {
    width: 100%;
    height: auto;
}
  .bg-no-overlay {
    /*  width: 100%;*/
      height: auto;  
  
   
  }
  .adult-paediatric-b {
width: auto;
  }
  .haematology-oncolo{
    width: auto;
  }
  .btn btn-primary{
    margin-bottom: 20px;
  }
  }



  .doc_photo{
text-align: center;
padding:20px 0;
  }

  .doctdiv{
padding: 20px 35px;
  }


  .knmore{
    background-image: radial-gradient(-35.15% 100%, #17EAD9 0%, #6078EA 100%);
    border-radius: 4px;
    width: 129px;
    height: 49px;
    text-align: center;
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  
  .form-group{
    line-height: 1.0rem;
  }

  .buttoncolor{
    background-color: #DD5A6A;
  }

  

  .btn-primary .buttoncolor{
    border: 1px solid #DD5A6A!important;
  }
 


    .card-header {
background: white;
    }

    .what-are-the-conditi {
      color: #1D5AA6!important;
      
      font-size: 20px;
      letter-spacing: 1.6px;
      line-height: 22px;
      
      text-align: left;
      font-weight: bold;
    }

    .card {
      border:1px solid transparent;
    }
    
    .card-header{
      border-bottom: 1px solid #ECECFF;
      padding: .75rem 0rem;

    }
